/* Navigation DIV */
.nav-menu{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #f5f5f0;
    background-color: #3f403e;
}

/* Main Navigation Setup */
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  font:18px Oswald;
  color:#3f403e;

  /*
  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  */
}

.navigation li {
  float: left;
}

.navigation li:hover {
  background: #222;
}

.navigation li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 0 0 5px;
}

.navigation li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  line-height: 40px;
  color: whitesmoke;
  background:rgba(0,0,0,0.2);
  border:1px #f5f5f0;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  float: none;
}

.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;

  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;

  -webkit-box-shadow:  0 3px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow:  0 3px 3px 0 rgba(0, 0, 0, 0.25);
}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
  background: #000;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}


/* Vertical Nav - Account Panel */

.nav-container{
    width:100%;
    margin:0 auto;
    box-shadow: 0 1px 1px 1px black;
    transition: all 0.3s linear;
}
.nav{
    list-style-type:none;
    margin:0;
    padding:0;
}
.nav li{
    height:50px;
    position: static;
    background: linear-gradient(#292929, #242424);
}
.nav a {
    border-top: 1px solid rgba(255,255,255,0.1);
    text-decoration:none;
    display:block;
    height:100%;
    width:100%;
    line-height:50px;
    color:#bbb;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:7%;
    border-left:5px solid transparent;
    letter-spacing:1px;
    transition: all 0.3s linear;
}

.nav li:hover a{
    color: #eee;
    border-left: 5px solid #FCFCFC;
    background-color: #1B1B1B;
}
.icon{
  display: inline-block;
}

.icon i {
    font-size:23px;
}

@media only screen and (max-width : 1450px){

    .text{
        display: none;
    }

    .icon i{
        font-size: 20px;
        margin-top: 10%;
    }
    .icon{
        display: inline;
    }

    .nav-container , a{
        width: 100%;
        display:inline-block;
        margin: 0 auto;
    }

    a:hover{
        width:100%;
        z-index:1;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid black;
        box-shadow: 0 0 1px 1px black;
    }

    a:hover  .text {
        display:none;
    }


}

@media only screen and (max-width : 640px){

    .text{
        display: inline-block;
    }

    .icon{
        display: inline-block;
    }

    .icon i {
        font-size:20px;
    }

    .nav-container , a{
        width: 100%;
        display:block;
        margin: 0 0 5px 0;
    }

    a:hover{
        width:100%;
        z-index:1;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid black;
        box-shadow: 0 0 1px 1px black;
    }

    a:hover  .text {
        display:inline-block;
    }


    a:hover  .icon {
        display:inline-block;
    }

}